@import url(https://fonts.googleapis.com/css?family=Ruluko);
@import url("http://weloveiconfonts.com/api/?family=fontawesome");
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
  font-size: 100%;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #A6A5A4;
}

body {
  font-family: 'Ruluko', sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
body header {
  top: 0;
  margin: 0;
  height: 4rem;
  background: #323233;
  text-shadow: 1px 1px #0d0d0d, -1px -1px #323233;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 1;
}
body header h1 {
  margin-left: 1.5rem;
  color: #A6A5A4;
  line-height: 1rem;
}
body header h1 span {
  float: right;
  margin-right: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
  cursor: pointer;
}
body h2 {
  font-size: 1.75em;
}
body footer {
  text-align: center;
  bottom: 0;
  padding: 0;
  background: #323233;
  color: #595959;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
body footer li {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.5rem;
  cursor: pointer;
  margin-right: 2rem;
  text-shadow: 1px 1px #0d0d0d, -1px -1px #121212;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}
body footer li:hover {
  color: #81A4D4;
  text-shadow: -1px -1px #575757, 1px 1px #121212;
  -webkit-transform: translateY(2px), scale(1.05);
          transform: translateY(2px), scale(1.05);
}

main {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
          align-items: stretch;
}
main .sidebar {
  background: #323233;
  min-width: 180px;
  margin-bottom: 0;
  color: #A6A5A4;
  text-shadow: 1px 1px #0d0d0d, -1px -1px #121212;
}
main .sidebar h2 {
  text-align: center;
  margin: 0;
  padding: 1.2rem;
  background: #323233;
  color: #A6A5A4;
  border-bottom: 2px solid #2F2F2F;
}
main .sidebar h2:after {
  content: "The SideBar";
}
main .sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
main .sidebar li {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #2F2F2F;
}
main .sidebar li:hover {
  border-right: .5rem solid #81A4D4;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.4);
}
main .sidebar a {
  color: #A6A5A4;
  display: block;
  padding: 1.5em .2em;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
main .sidebar a:before {
  content: "SideBar";
}
main .sidebar a:hover {
  color: #81A4D4;
  margin-left: 1rem;
}

.block {
  width: 100%;
  background: #F4F1E0;
  padding: .5em;
  display: inline-block;
  margin: 0 0 1em;
  font-size: 1em;
  box-sizing: border-box;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}
.block:hover {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}
.block :not(div) {
  text-align: left;
}
.block p {
  padding: 5px;
  margin-bottom: 1em;
  line-height: 1.5rem;
}
.block p button {
  background: transparent;
  border: none;
  padding: .5em;
  color: #144955;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.block p img {
  max-width: 100%;
  display: inline-block;
  padding: 1rem;
  margin: auto;
}
.block h3 {
  font-size: 1.2em;
  text-align: center;
  line-height: 3em;
  margin: 0 0 .5rem 0;
  padding: .2rem;
  color: #A6A5A4;
  text-transform: uppercase;
  background: #323233;
  opacity: .85;
  text-shadow: 1px 1px #0d0d0d, -1px -1px #121212;
}
.block h3.flag {
  color: #81A4D4;
}

.grid {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
  color: #323233;
  width: 100%;
  padding: 2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8b9da9), to(#fff6e4));
  background-image: linear-gradient(#8b9da9, #fff6e4);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
}
.grid.grid > .block {
  -webkit-transition: all 0.7s easein 0.7s;
  transition: all 0.7s easein 0.7s;
}
.grid .block:not(p) {
  text-align: center;
}

@media (max-width: 40em) {
  .grid {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    width: 100%;
    padding: 0;
    margin: .5rem 0;
  }

  body > header {
    height: 9rem;
  }
  body > header h1 {
    line-height: 2rem;
  }
  body > header h1 span {
    line-height: 8rem;
  }

  main {
    flex-wrap: wrap;
  }
  main .sidebar {
    -webkit-box-flex: 1;
            flex-grow: 1;
  }
  main .sidebar h2:after {
    content: "The TopBar";
    padding-left: .5rem;
  }
  main .sidebar ul li {
    margin: 0;
    list-style-type: none;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
  }
  main .sidebar ul li:last-child {
    border-bottom: none;
  }
  main li {
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    margin: 0;
    padding: 0;
  }
  main .sidebar a:before {
    content: "TopBar";
  }

  footer {
    font-size: 80%;
  }
}
@media (min-width: 40.1em) and (max-width: 61.25em) {
  .grid {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    padding: .5rem;
  }

  .block > p {
    width: 100%;
    margin: 0 auto;
  }

  .block > ul {
    width: 80%;
    margin-left: 0 auto;
  }
}
@media (min-width: 61.25em) {
  .grid {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}
@media (min-width: 80em) {
  .grid {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
}