<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Dijstra's Algorithm</title>
  <link rel="stylesheet" href="../static/algos.css">

</head>
<body>
<nav id="navbar">
  <header>Dijstra's Algorithm</header>
  <ul>
    <li><a class="nav-link" href="../index.html">HOMEPAGE</a></li>
    <li><a class="nav-link" href="notes.html">Notes</a></li>
    <li><a class="nav-link" href="note4java.html">Java</a></li>
    <li><a class="nav-link" href="bellman.html">Bellman-Ford Algorithm</a></li>
    <li><a class="nav-link" href="dijkstra.html">Dijkstra's Algorithm</a></li>
    <li><a class="nav-link" href="kmp.html">KMP</a></li>
    <li><a class="nav-link" href="morris.html">Morris Traversal</a></li>
    <li><a class="nav-link" href="rabinKarp.html">Rabin Karp</a></li>
  </ul>
</nav>

<main id="main-doc">
  <section class="main-section">
    <header>Introduction</header>
    <p><strong>Dijstra's Algorithm</strong> is aim to solve single source shortest path problem. </p>
    <p>The key point of Dijstra and Bellman is Relexation: </p>
<div class="highlight" style="background: #f8f8f8"><pre style="line-height: 125%">    <span style="color: #008000; font-weight: bold">if</span> d[u] <span style="color: #666666">+</span> c(u, v) <span style="color: #666666">&lt;</span> d[v]:
      d[v] <span style="color: #666666">=</span> d[u] <span style="color: #666666">+</span> c(u, v)
</pre></div>

  </section>

  <section class="main-section">
    <header>Steps</header>
    <p>
      <ol>
        <li>Select a start vertex. </li>
        <li>Compute the distance to its connected vertices.</li>
        <li>Set the connected node with the shortest distance as the start point, and updates its neighbors.</li>
        <li>After all the vertices are updated as the start point, end it.</li>
      </ol>
    </p>
  </section>

  <section class="main-section">
    <header>Analysis</header>
    <ul>
      <li>Time complexity is O(n^2). For each vertex as the start point, we need to update all its neighbors. The worst scenario is that all vertices have n neighbors, where n is the total amount of vertices. </li>
      <li>Dijkstra can work on both directed and non directed graphs.</li>
      <li>If there is a negtive edge in the graph, it might not be correct.</li>
    </ul>
  </section>
  
  

  <section class="main-section"> 
    <header>Related Problems</header>
    <li><a href="https://leetcode.com/problems/cheapest-flights-within-k-stops/">Leetcode 787</a> Cheapest Flights Within K Stops</li>
    <li><a href="https://leetcode.com/problems/network-delay-time/">Leetcode 743</a> Network Delay Time</li>
  </section>

</main>

</body>
</html>
