<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Morris Traversal</title>
  <link rel="stylesheet" href="../static/algos.css">

</head>
<body>
<nav id="navbar">
  <header>Morris Traversal</header>
  <ul>
    <li><a class="nav-link" href="../index.html">HOMEPAGE</a></li>
    <li><a class="nav-link" href="notes.html">Notes</a></li>
    <li><a class="nav-link" href="dijstra.html">Dijstra's Algorithm</a></li>
  </ul>
</nav>

<main id="main-doc">
  <section class="main-section">
    <header>Introduction</header>
    <p><strong>Morris traversal</strong> is a tree traversal algorithms that allows you to implement traversal without using stack or recursion. In this traversal, we use likes to link node with its predecessor. </p>
  </section>
  <section class="main-section">
    <header>Steps</header>
    <p>Take inorder traversal for example.
      <ol>
        <li>Initialize the root as current node. </li>
        <li>While current is not None, check if current has a left node. </li>
        <li>If current does not have a left child, we can print this node and then update it to point to its right node. </li>
        <li>If current has a left child, we find the most right child of current as the predecessor, and make the right child of the predecessor to current. (This is to link the most right child to root. Since the most right child is the last node we visit on the left side of the current root, we need to go back to root after visiting the last node on the left. )</li>
        <li>Update current to its left node. </li>
      </ol>
    </p>
  </section>
  
  <section class="main-section">
    <header>Code</header>
    <div class="highlight" style="background: #f8f8f8"><pre style="line-height: 125%"><span style="color: #008000; font-weight: bold">def</span> <span style="color: #0000FF">morris</span>(root):
    result <span style="color: #666666">=</span> []
    <span style="color: #008000; font-weight: bold">while</span> root:
        <span style="color: #008000; font-weight: bold">if</span> <span style="color: #AA22FF; font-weight: bold">not</span> root<span style="color: #666666">.</span>left:
            result<span style="color: #666666">.</span>append(root<span style="color: #666666">.</span>val)
            root <span style="color: #666666">=</span> root<span style="color: #666666">.</span>right
        <span style="color: #008000; font-weight: bold">else</span>:
            predecessor <span style="color: #666666">=</span> root<span style="color: #666666">.</span>left
            <span style="color: #008000; font-weight: bold">while</span> predecessor<span style="color: #666666">.</span>right <span style="color: #AA22FF; font-weight: bold">and</span> predecessor<span style="color: #666666">.</span>right <span style="color: #666666">!=</span> root:
                predecessor <span style="color: #666666">=</span> predecessor<span style="color: #666666">.</span>right
            <span style="color: #008000; font-weight: bold">if</span> <span style="color: #AA22FF; font-weight: bold">not</span> predecessor<span style="color: #666666">.</span>right:
                predecessor<span style="color: #666666">.</span>right <span style="color: #666666">=</span> root
                root <span style="color: #666666">=</span> root<span style="color: #666666">.</span>left
            <span style="color: #408080; font-style: italic"># predecessor.right == current, meaning we&#39;re going back to the root</span>
            <span style="color: #008000; font-weight: bold">else</span>:
                predecessor<span style="color: #666666">.</span>right <span style="color: #666666">=</span> <span style="color: #008000">None</span>
                result<span style="color: #666666">.</span>append(root<span style="color: #666666">.</span>val)
                root <span style="color: #666666">=</span> root<span style="color: #666666">.</span>right
                
    <span style="color: #008000; font-weight: bold">return</span> result
</pre></div>

  
  <section class="main-section"> 
    <header>Related Problems</header>
    <p>For further reading, here are a few resources used in the creation of this document.</p>
    <li>University of Arizona <a href="https://softwarelicense.arizona.edu/ssh-clients-windows-and-mac" target="_blank">list</a> of SSH clients for Linux, Mac, and Windows.</li>
    <li><a href="https://en.wikipedia.org/wiki/Secure_Shell">Secure Shell</a> on Wikipedia.</li>
     <li><a href="https://en.wikipedia.org/wiki/Cron">Cron</a> on Wikipedia.</li>
  </section>
</main>

</body>
</html>
