<!DOCTYPE html>
<html id="Start" lang='en'>
<head>
  <meta charset="UTF-8">
  <title>Expecto Patronum</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="gridcontainer">
        <div id="h-container">
      <div><h1>Expecto Patronum</h1></div>  
    </div>
    <div id="n-container">
      <nav id="navbar">
        <ul clas="currentnav">
          <header></header>
          <a class="nav-link" href="../index.html">HOMEPAGE</a>
          <a class="nav-link" href="notes.html">Notes</a>
          <a class="nav-link first" href="#lc95" rel="internal"><li>95.Unique Binary Search Trees II</li></a>
          <a class="nav-link" href="#lc96" rel="internal"><li>96.Unique Binary Search Trees II</li></a>

        </ul>
      </nav>
    </div>
    <div id="m-container">
      <main id="main-doc">
        


        <section class="main-section" id="lc95" name="lc95">
          <header><h2>Unique Binary Search Trees II</h2></header>
          <P>为什么你连Cartalan Number都不知道。说得就像你知道了这题就能做出来了一样</P>
          
        </section>


        <section class="main-section" id="lc96" name="lc96">
          <header><h2>Unique Binary Search Trees</h2></header>
          <P>为什么你的html越来越多。还不是因为你都不会的题越来越多</P>
          
        </section>       




      </main>
    </div>
    
  </div>
</body>
</html>