<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Junzhe - Portfolio - Type help</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css'> 
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="./style.css">
 
  <link rel="stylesheet" href="../static/cmd.css">
</head>
<body>

<div class="navbar">
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav ml-auto">
                <li><a href="../index.html">HOME</a></li>
                <li><a href="resume.html">RESUME</a></li>
                <li><a href="cmd.html">CMD</a></li>
                <li><a>TEST</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>





<!-- partial:index.partial.html -->
<div class="container">
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-3 is-flex">
          <div class="column-child sidebar shadow">
            <div class="sidebar-header has-text-centered">
              <img src="https://avatars2.githubusercontent.com/u/46700815?s=400&u=e2bbb5d6a8f0894ad271932e0cd28099891aa8dc&v=4" class="sidebar-image">
              <h2 class="header-name">Junzhe Wang</h2>
              <h5>Just A Programmer</h5>
              <div class="social-icons">
                <a href="#" onclick="alert('I do not use social media...');"><i class="fab fa-facebook icon"></i></a>
                <a href="#" onclick="alert('I told you I do not use social media...');"><i class="fab fa-twitter icon"></i></a>
                <a href="#" onclick="alert('Seriously...');"><i class="fab fa-instagram icon"></i></a>
                <a href="https://github.com/JWang169"><i class="fab fa-github icon"></i></a>
                <a href="https://www.linkedin.com/in/junzhe-joey-wang-55902b170/"><i class="fab fa-linkedin icon"></i></a>
              </div>
              <div class="resume">
                <a href="resume.html" class="sidebar-link">
                  Resume
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-flex">
          <div class="column-child terminal shadow">
            <div class="terminal-bar dark-mode">
              <div class="icon-btn close"></div>
              <div class="icon-btn min"></div>
              <div class="icon-btn max"></div>
              <div class="terminal-bar-text is-hidden-mobile dark-mode-text">guest@junzhe: ~</div>
            </div>
            <div class="terminal-window primary-bg"
                 onclick="document.getElementById('dummyKeyboard').focus();">
              <div class="terminal-output" id="terminalOutput">
                <div class="terminal-line">
                  <span class="help-msg">Welcome! — Type <span class="code">help</span>
                    for a list of supported commands. </span>
                </div>
              </div>
              <div class="terminal-line">
                <span class="success">➜</span> <span class="directory">~</span> <span
                                                                                      class="user-input" id="userInput"></span>
                <input type="text" id="dummyKeyboard" class="dummy-keyboard">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Made with <i class="fas fa-heart icon" style="color:purple"></i> by Junzhe.
      </p>
    </div>
  </footer>
</section>
</div>
<!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.3.1/js/all.js'></script>
  <script src="../static/cmd.js"></script>

</body>
</html>
